.sortable {
    cursor: pointer;
    color: rgb(216, 163, 207);
}

.warning {
    background-color: #fa004ba4;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 14px 0;
  min-width: 300px;
  background: #e9d6d6;
}

.header-row {
    background: #0a223a;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}